.DS_Store
**/.DS_Store
**/game_state.jsonl
**/game_events.jsonl
__pycache__/
**/__pycache__/
*.pyc
venv/
.venv/
.env
**/.env
*~
.#*
/*.o
/example
/*.exe
/*.dll
/*.so
/*.dylib
*.log
*.bak
*.tmp
*.swp
*.swo
.idea/
.vscode/